<form [formGroup]="accountForm">
  <mat-form-field appearance="outline">
    <mat-label>Account ID</mat-label>
    <input matInput type="text" formControlName="accountId" [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let id of ids" [value]="id">
        {{ id }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="accountIdInvalid">{{ errorMessage }}</mat-error>
  </mat-form-field>
</form>

<button mat-button [disabled]="accountIdInvalid">Ricerca</button>
