:host {
  .xsb-banner {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: 100px;
    margin-bottom: 16px;
    border-bottom: 4px solid black;
    background-color: white;
    z-index: 1;

    mat-icon {
      transform: scale(2);
      margin-left: 32px;
    }

    p {
      font-size: xx-large;
      margin-left: 48px;
    }
  }
}
