:host {
  .app-banner {
    display: flex;
    align-items: center;
    height: 100px;
    margin-bottom: 16px;
    border-bottom: 4px solid black;

    mat-icon {
      transform: scale(2);
      margin-left: 24px;
    }

    p {
      font-size: xx-large;
      margin-left: 48px;
    }
  }

  router-outlet + * {
    padding: 8px;
  }

  .loader-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff95;
  }
}
