<form [formGroup]="formGroup" class="xsb-grid">
  <mat-form-field appearance="outline" class="xsb-grid-cell-span-3">
    <mat-label>ID Mittente</mat-label>
    <input matInput type="text" formControlName="senderId" [matAutocomplete]="senderAuto" uuid />
    <mat-autocomplete #senderAuto="matAutocomplete">
      <mat-option *ngFor="let id of (filteredSenderIds$ | async) || accountIds" [value]="id">
        {{ id }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="isControlInvalid('senderId')">{{ senderErrorMessage }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="xsb-grid-cell-span-3">
    <mat-label>ID Destinatario</mat-label>
    <input matInput type="text" formControlName="recipientId" [matAutocomplete]="recipientAuto" uuid />
    <mat-autocomplete #recipientAuto="matAutocomplete">
      <mat-option *ngFor="let id of (filteredRecipientIds$ | async) || accountIds" [value]="id">
        {{ id }}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="isControlInvalid('recipientId')">{{ recipientErrorMessage }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="xsb-grid-cell-span-2">
    <mat-label>Ammontare da trasferire</mat-label>
    <input matInput type="text" formControlName="amount" autocomplete="off" twoDigitDecimalNumber />
    <mat-error *ngIf="isControlInvalid('amount')">{{ amountErrorMessage }}</mat-error>
  </mat-form-field>
  <button mat-button [disabled]="isFormInvalid" (click)="emit()" class="xsb-grid-cell-span-2 xsb-submit">Esegui</button>
</form>
