:host {
  table {
    width: 100%;

    td.mat-cell,
    th.mat-header-cell {
      &:nth-of-type(2) {
        text-align: right;
      }

      padding-left: 24px;
      border-color: black;
    }

    tr.mat-row.most-recent {
      font-weight: bold;
    }

    td.mat-cell.xsb-amount- {
      &positive {
        color: green;
      }
      &negative {
        color: red;
      }
      &neutral {
        color: gray;
      }
    }
  }
}
