<div class="xsb-grid">
  <form [formGroup]="formGroup" class="xsb-grid-cell-span-8">
    <mat-form-field appearance="outline">
      <mat-label>Account ID</mat-label>
      <input matInput type="text" formControlName="accountId" [matAutocomplete]="auto" uuid />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let id of (filteredAccountIds$ | async) || accountIds" [value]="id">
          {{ id }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="isControlInvalid('accountId')">{{ errorMessage }}</mat-error>
    </mat-form-field>
  </form>
  <button mat-button [disabled]="isFormInvalid" (click)="emit()" class="xsb-grid-cell-span-4 xsb-submit">Ricerca</button>
</div>
