:host {
  .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffbb;
    pointer-events: none;
    cursor: default;
    z-index: 2;
  }
}
