@use "@angular/material" as material;

@import "./styles/variables";
@import "@material/layout-grid/mdc-layout-grid";

@include material.core();
@include material.all-component-themes($theme);

html,
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.xsb-grid {
  @include mdc-layout-grid-inner(desktop, 0, $grid-col-gap);
  align-items: center;
  padding: 0 $grid-col-gap;

  .xsb-grid-cell-span {
    @for $i from 1 to 13 {
      &-#{$i} {
        @include mdc-layout-grid-cell(desktop, $i, $grid-col-gap);

        .mat-form-field {
          display: block;
        }

        &.xsb-submit {
          margin-bottom: 1.34375em;
        }
      }
    }
  }
}

.xsb-submit {
  height: 65%;
}
